body {
  padding: 0;
  margin: 0;
  background-color: #0c0b2f;
}
body main {
  display: flex;
  flex-direction: row;
}

.name {
  margin: 0;
  color: #ecebf6;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
}

.menu {
  width: 247px;
  height: 754px;
  background-color: #201e43;
  padding: 55px 0 55px 0;
}
.menu .personal {
  margin-left: 40px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.menu .personal_name {
  font-family: "Expletus Sans";
  font-size: 24px;
  font-weight: 500;
  color: #f5f4fb;
}
.menu_nav {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  flex-wrap: wrap;
}
.menu_nav button {
  padding-right: 0;
  position: relative;
  width: 220px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  cursor: pointer;
  border: none;
  border-radius: 8px 0 0 8px;
  background-color: rgba(0, 0, 0, 0);
}
.menu_nav button .flow {
  margin-left: 75px;
}
.menu_nav button p {
  font-family: "Gilroy", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #727190;
}
.menu_nav button .text_selected {
  color: #b7abff;
}
.menu_nav .pro {
  width: 36px;
  height: 18px;
  border-radius: 38px;
  color: #05cd99;
  text-transform: uppercase;
  font-size: 10px;
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  text-decoration: none;
  background-color: rgba(5, 205, 153, 0.11);
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  margin-left: 67px;
  cursor: pointer;
}
.menu_nav .pro:hover {
  background-color: rgba(5, 205, 153, 0.44);
}
.menu_nav .selected {
  background-color: rgba(126, 107, 239, 0.04);
}
.menu_nav button:hover {
  background-color: rgba(126, 107, 239, 0.04);
}
.menu_nav button:active {
  background-color: rgba(126, 107, 239, 0.04);
}
.menu .profile_menu {
  margin-top: 50px;
  display: flex;
  justify-content: flex-end;
}
.menu .profile_menu .profile {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 220px;
  padding-left: 6px;
}
.menu .profile_menu .profile div {
  color: rgba(114, 113, 144, 0.76);
  text-transform: uppercase;
  font-family: "Gilroy", sans-serif;
  font-size: 15px;
  font-weight: 400;
}
.menu .profile_menu .profile_nav a {
  display: flex;
  flex-direction: row;
  gap: 15px;
  text-decoration: none;
  align-items: center;
  padding-left: 6px;
}
.menu .profile_menu .profile_nav a img {
  width: 20px;
  height: 20px;
}
.menu .profile_menu .profile_nav a p {
  color: #727190;
  font-family: "Gilroy", sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-transform: capitalize;
}
.menu .profile_menu .profile_nav a:hover {
  border-radius: 8px 0 0 8px;
  background-color: rgba(126, 107, 239, 0.04);
}
.menu .box {
  border-radius: 15px;
  width: 163px;
  height: 125px;
  background: linear-gradient(to bottom right, #868cff, #4318ff);
  font-family: "Gilroy", sans-serif;
  padding: 20px 16px 20px 16px;
  margin: 55px 0 0 28px;
}
.menu .box .balance {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  text-transform: capitalize;
  margin: 10px 0;
}
.menu .box .eth {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 300;
  margin: 0;
}
.menu .box button {
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  width: 163px;
  height: 35px;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  color: #444bf8;
  margin-top: 25px;
  cursor: pointer;
}

section {
  padding: 20px 32px;
  width: 1208px;
}
section header {
  display: flex;
  flex-direction: row;
  gap: 280px;
  margin-bottom: 20px;
}
section header .search {
  font-family: "Gilroy", sans-serif;
  position: relative;
  width: 583px;
}
section header .search input {
  width: 522px;
  height: 48px;
  background-color: #201e43;
  border: none;
  border-radius: 10px;
  padding: 3px 0 0 63px;
  color: rgba(236, 235, 246, 0.62);
}
section header .search input::-moz-placeholder {
  font-size: 18px;
  font-weight: 400;
}
section header .search input::placeholder {
  font-size: 18px;
  font-weight: 400;
}
section header .search .search_icon {
  position: absolute;
  left: 30px;
  top: 15px;
  cursor: pointer;
}
section header .search .filter {
  position: absolute;
  right: 22px;
  top: 15px;
  cursor: pointer;
}
section header .account {
  width: 330px;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-family: "Gilroy", sans-serif;
}
section header .account img {
  cursor: pointer;
}
section header .account_default {
  width: 167px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
section header .account_default img {
  cursor: pointer;
}
section header .account_default .status {
  margin: 0;
  color: #ecebf6;
  font-size: 10px;
  font-weight: 400;
  text-transform: capitalize;
}
section header .account_default_more {
  display: flex;
  flex-direction: row;
  gap: 9px;
}
section header .account button {
  background-color: #201e43;
  width: 46px;
  height: 46px;
  border: none;
  cursor: pointer;
  border-radius: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
section .nft {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
section .nft .title {
  font-weight: 400;
  font-size: 18px;
  color: #ecebf6;
  margin: 0 0 0 14px;
  text-transform: capitalize;
}
section .nft .bid {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-left: 14px;
  font-family: "Gilroy", sans-serif;
}
section .nft .bid_info {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-content: flex-end;
  flex-wrap: wrap;
}
section .nft .bid_info_left {
  color: #ecebf6;
  font-weight: 400;
  font-size: 12px;
  text-transform: capitalize;
  margin: 0;
  height: 14px;
}
section .nft .bid_info_right {
  display: flex;
  flex-direction: row;
  gap: 5px;
  height: 16px;
}
section .nft .bid_info_right .o {
  color: #b7abff;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
}
section .nft .bid .usdt {
  font-size: 12px;
  font-weight: 400;
  color: rgba(236, 235, 246, 0.54);
  margin: 18px 0 0 0;
}
section .nft aside {
  width: 331px;
  display: flex;
  flex-direction: column;
  gap: 28px;
}
section .nft aside .recently {
  width: 287px;
  height: 300px;
  background-color: #201e43;
  border-radius: 15px;
  padding: 20px 22px 28px 22px;
  font-family: "Gilroy", sans-serif;
}
section .nft aside .recently_art {
  width: 260px;
  height: 168px;
  border-radius: 15px;
  background: url("../img/3d_art.png") center center/cover no-repeat;
  padding: 16px 13px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  margin-bottom: 10px;
}
section .nft aside .recently_art_time {
  background-color: #201e43;
  border-radius: 10px;
  width: 70px;
  height: 22px;
  color: #dfd9ff;
  font-size: 10px;
  font-weight: 600;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
section .nft aside .recently .title {
  font-weight: 400;
  font-size: 18px;
  color: #ecebf6;
  margin: 0 0 0 14px;
  text-transform: capitalize;
}
section .nft aside .head {
  font-family: "Gilroy", sans-serif;
  display: flex;
  flex-direction: row;
  gap: 114px;
  margin-bottom: 15px;
}
section .nft aside .head_left {
  color: #ecebf6;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  text-transform: capitalize;
}
section .nft aside .head_right {
  color: rgba(207, 203, 229, 0.62);
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  text-decoration: none;
}
section .nft aside .head_right:hover {
  text-decoration: underline;
}
section .nft aside button {
  color: #ffffff;
  font-size: 12px;
  font-weight: 600;
  border: none;
  background-color: #5639ff;
  border-radius: 5.3px;
  cursor: pointer;
  text-align: center;
  width: 95px;
  height: 32px;
  text-transform: capitalize;
}
section .nft aside .top {
  width: 268px;
  height: 332px;
  background-color: #201e43;
  border-radius: 15px;
  padding: 20px 37px 20px 26px;
  font-family: "Gilroy", sans-serif;
}
section .nft aside .top .creators {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
section .nft aside .top .creators li {
  position: relative;
  margin-bottom: 25px;
}
section .nft aside .top .creators li .without_btn {
  display: flex;
  flex-direction: row;
  gap: 13px;
  align-items: center;
}
section .nft aside .top .creators li .without_btn img {
  cursor: pointer;
}
section .nft aside .top .creators li .without_btn .call {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
section .nft aside .top .creators li .without_btn .call .asperand {
  font-weight: 400;
  font-size: 10px;
  color: rgba(207, 203, 229, 0.62);
  margin: 0;
  cursor: pointer;
}
section .nft aside .top .creators li .without_btn .call .asperand:hover {
  text-decoration: underline;
}
section .nft aside .top .creators li .follow {
  font-weight: 400;
  font-size: 12px;
  color: #cdc6f9;
  background-color: rgba(130, 112, 235, 0.2);
  border: none;
  border-radius: 5.3px;
  width: 90px;
  height: 30px;
  padding: 0;
  position: absolute;
  right: 0;
  top: 10px;
  cursor: pointer;
}
section .nft article {
  height: 678px;
  width: 827px;
  font-family: "Gilroy", sans-serif;
}
section .nft article h1 {
  color: #f5f4fb;
  font-weight: 600;
  font-size: 24px;
  margin: 0;
}
section .nft article .top {
  margin-bottom: 20px;
}
section .nft article .top .navigation {
  display: flex;
  flex-direction: row;
  gap: 278px;
  margin-bottom: 30px;
}
section .nft article .top .navigation nav {
  display: flex;
  flex-direction: row;
  gap: 45px;
}
section .nft article .top .navigation nav a {
  text-decoration: none;
  color: rgba(207, 203, 229, 0.62);
  font-weight: 400;
  font-size: 18px;
}
section .nft article .top .navigation nav a:hover {
  text-decoration: underline;
}
section .nft article .top .navigation nav .active {
  color: #b7abff;
}
section .nft article .top .navigation nav .active:hover {
  text-decoration: none;
}
section .nft article .top .trend {
  flex-direction: row;
  display: flex;
  gap: 35px;
}
section .nft article .top .trend .block {
  width: 236px;
  height: 294px;
  border-radius: 15px;
  background-color: #201e43;
  padding: 10px 8px 26px 8px;
  position: relative;
}
section .nft article .top .trend .block_bg1 {
  padding: 12px 11px 16px 8px;
  width: 218px;
  height: 185px;
  position: relative;
  display: flex;
  align-items: flex-end;
  border-radius: 15px;
  margin-bottom: 24px;
  background: url("../img/trend_block_bg/bg1.png") center center/cover no-repeat;
}
section .nft article .top .trend .block_bg2 {
  padding: 12px 11px 16px 8px;
  width: 218px;
  height: 185px;
  position: relative;
  display: flex;
  align-items: flex-end;
  border-radius: 15px;
  margin-bottom: 24px;
  background: url("../img/trend_block_bg/bg2.png") center center/cover no-repeat;
}
section .nft article .top .trend .block_bg3 {
  padding: 12px 11px 16px 8px;
  width: 218px;
  height: 185px;
  position: relative;
  display: flex;
  align-items: flex-end;
  border-radius: 15px;
  margin-bottom: 24px;
  background: url("../img/trend_block_bg/bg3.png") center center/cover no-repeat;
}
section .nft article .top .trend .block_bg_time {
  background-color: #201e43;
  border-radius: 10px;
  width: 70px;
  height: 22px;
  color: #dfd9ff;
  font-size: 10px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
section .nft article .top .trend .block_bookmark {
  width: 30px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 4.14px;
  position: absolute;
  top: 12px;
  right: 11px;
  cursor: pointer;
}
section .nft article .top .trend .block .best_members {
  transform: translate(65%, 100%);
}
section .nft article .top .trend .block .best_members img {
  cursor: pointer;
}
section .nft article .top .trend .block .best_members .second {
  transform: translateX(-50%);
}
section .nft article .top .trend .block .best_members .third {
  transform: translateX(-100%);
}
section .nft article .top .trend .block .best_members .both {
  transform: translateX(65%);
}
section .nft article .bottom {
  font-family: "Gilroy", sans-serif;
}
section .nft article .bottom .best {
  display: flex;
  flex-direction: row;
  gap: 500px;
  margin-bottom: 20px;
}
section .nft article .bottom .best .lately {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
section .nft article .bottom .best .lately button {
  font-size: 13px;
  color: #ecebf6;
  border: none;
  border-radius: 5px;
  background-color: #201e43;
  width: 98px;
  height: 30px;
}
section .nft article .bottom table {
  background-color: #201e43;
  border-radius: 15px;
  width: 827px;
  height: 301px;
  padding: 0 48px 0 36px;
}
section .nft article .bottom table tr {
  text-align: center;
}
section .nft article .bottom table tr th {
  color: rgba(236, 235, 246, 0.62);
  font-family: 600;
  font-size: 14px;
}
section .nft article .bottom table tr .number {
  font-size: 15px;
  font-weight: 400;
  color: #d3d1e0;
}
section .nft article .bottom table tr td {
  font-weight: 400;
  font-size: 14px;
  color: #ecebf6;
}
section .nft article .bottom table tr .red {
  color: #f35077;
}
section .nft article .bottom table tr .green {
  color: #19dca9;
}

@media (min-width: 1200px) {
  .menu .box {
    margin: 55px 0 0 15px;
  }
}/*# sourceMappingURL=style.css.map */